.attendee-label {
	font-weight: bold;
}
.attendee-info-container {
	width: 20%;
	float: left;
	margin-bottom: 5px;
	padding: 15px;
	box-sizing: border-box;
}

.attendee-container {
	width: 100%;
	background: #fff;
	display: inline-block;
	border-bottom: 1px solid rgb(229, 229, 229);
}
.line-separater {
	height: 1px;
	width: 100%;
	background: rgb(218, 218, 218);
	display: block;
	clear: both;
}
.medical-flag {
	border-radius: 50%;
	width:24px;
	height: 24px;
	background: red;
	display: block;
	position: absolute;
	right: 20px;
	top:22px;
}
.medical-flag:after, .medical-flag:before {
	width:4px;
	height: 16px;
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -2px;
	margin-top: -8px;
	background: white;
	content: '';
}
.medical-flag:before {
	width:16px;
	height: 4px;
	margin-left: -8px;
	margin-top: -2px;
}

/** Toggles **/
.vc_toggle {
  display: block;
  /*margin: 0 0 21.73913043px 0;*/
  padding: 0;
  font-size: 1em;
}
.vc_toggle:last-of-type {
  /*margin-bottom: 35px;*/
}
.vc_toggle_title {
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}

.attendee-actions a {
	margin-right: 15px;
}
