/*
Theme Name: Miasan
Text Domain: miasan
Theme URI: http://miasan.com/
Description: This is a theme for Miasan Outdoor Center.
Author: Joshua Flowers
Author URI: http: //www.echo5webdesign.com.com/
Template: shopkeeper
Version: 2.0.0
*/

.remember-me-row .rememberme-register {
	font-size: 1.125rem;
	float: right;
	line-height: 1.5em;
	padding-bottom: 3px;
	/*margin-right: 20px;*/
	display: block;
	padding: 0px;
	border: 0px;
	width: auto;
	font-weight: normal;
	font-size;
}

/** Tribe events **/
.tribe-tickets-remaining {
	display: none;
}
.tribe-tickets-attendees-list-optout {
	display: none;
}

#attendee_contracts tr {
    padding: 0px;
    display: inline-block;
    width: 100%;
    border: 1px solid #cccccc;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    background-color: whitesmoke;
    border-radius: 5px;
}
#attendee_contracts td {
	border: 0px;
	width: 100%;
    display: inline-block;
}
#attendee_contracts td > a {
	display: inline-block;
	width: 100%;
	padding: 10px;
}
.signed-chip {
	color: white;
	background-color: red;
	border-radius: 3px;
	padding: 2px 5px;
	font-size:15px;
}
.signed-chip.signed {
	background-color: green;
	float: right;
}
.get-contracts {
	border: 1px solid #cccccc;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
	background-color: whitesmoke;
	padding: 5px;
}